{% extends 'base.pages.html.twig' %}
{% block title %} Panier {% endblock %}
{% block body %}
    <div class="container">
        <div class="card p-3">
            <div class="card-header">
                <p>Panier</p>
            </div>
           <div class="card-body">
               <div class="row">
                   <div class="col-8">
                       <table class="table table-striped table-hover">
                           <thead>
                           <tr>
                               <th scope="col"></th>
                               <th scope="col">Nom</th>
                               <th scope="col">Quantité</th>
                               <th scope="col">Prix</th>
                               <th scope="col"></th>
                           </tr>
                           </thead>
                           <tbody>
                           {% for prod in items %}
                           <tr>
                               <th scope="row"><img src="{{ asset('/files/images/products/') }}{{ prod.item.image }}" width="50" height="50"></th>
                               <td>{{ prod.item.libelle}}</td>
                               <td>{{ prod.qte}}</td>
                               <td>{% if prod.item.isSolde %} {{ prod.item.newMontant * prod.qte}} {% else %} {{ prod.item.montant * prod.qte}} {% endif %}</td>
                               <td> <input type="submit" class="btn btn-sm btn-primary" value="Modifier la qte" ></td>
                           </tr>
                           {% endfor %}

                           </tbody>
                       </table>
                   </div>
                   <div class="col-4">
                       <p>
                           Montant total :  <strong>{{ total }} XOF</strong>
                       </p>
                   </div>
               </div>

           </div>
        </div>
    </div>
{% endblock %}