{% extends 'base.pages.html.twig' %}
{% block title %} Shop {% endblock %}

{% block body %}




    <div class="mini-menu d-flex justify-content-end align-items-center " style="width: 50%; height:100px;">
        {% for cat in categories %}
        <a class="navbar-brand me-5" href="{{ path('app_boutique', {'filter':cat.slug}) }}">{{ cat.libelle }}</a>
        {% endfor %}
    </div>

    <div class="cards d-flex flex-column justify-content-between" style="padding-left: 5%;padding-right: 5%; ">
        <hr>
        <div class="d-flex justify-content-between pb-4" style="padding-left: 35%;padding-right: 0.47%; height: 100px;">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width:15%">
                <option>Marque</option>
                <option value="Femmes">Femmes</option>
                <option value="Hommes">Hommes</option>
                <option value="Enfants">Enfants</option>
                <option value="Celebrites">Célébrités</option>
            </select>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width:15%">
                <option>Marque</option>
                <option value="Femmes">Femmes</option>
                <option value="Hommes">Hommes</option>
                <option value="Enfants">Enfants</option>
                <option value="Celebrites">Célébrités</option>
            </select>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width:15%">
                <option>prix</option>
                <option value="Femmes">Femmes</option>
                <option value="Hommes">Hommes</option>
                <option value="Enfants">Enfants</option>
                <option value="Celebrites">Célébrités</option>
            </select>

            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width:15%">
                <option>Taille</option>
                <option value="Femmes">Femmes</option>
                <option value="Hommes">Hommes</option>
                <option value="Enfants">Enfants</option>
                <option value="Celebrites">Célébrités</option>
            </select>

        </div>

        <!-- mettre au dernier contenair mb-5 -->
        <div class="row d-flex mt-5 mb-5">
            {% for prod in produits %}
            <div class="card mt-3 border-0 col-4" style="width: 25%;">
                <div class="image-fluid d-flex mb-3">

                    <img src="{{ asset('frontend/assets/Rectangle48.png') }}" class="rounded-circle" height="50px" width="50px">
                    <a href="{{ path('app_boutique', {'filter':prod.boutique.slug}) }}" style="color: black">
                        <p class="text-center ms-3 mt-2">{{ prod.boutique.nom }}</p>
                    </a>
                </div>
                <img src="{{ asset('/files/images/products/') }}{{ prod.image }}" style="height: 350px; width: 415px" class="card-img-top" alt="...">

                <div class="card-body">
                    <p class="text-center"> <strong>{{ prod.libelle }}</strong> </p>
                    <p class="text-center">{% if prod.isSolde %} {{ prod.newMontant }} {% else %} {{ prod.montant }} {% endif %}</p>
                    <p class="text-center">{{ prod.taille }}</p>
                    <div class=" d-flex justify-content-center">
                        <div class="col-6">
                            <a class="btn btn-warning w-50 rounded-pill d-flex align-items-center justify-content-between border-0" href="{{ path('app_favoris_update', {'slug':prod.slug}) }}" role="button" style="height:50px;background-color:#3A36DB;margin-left:25%; width: 150px">
                                <span class="mr-2" style="margin-right: 10px">Favoris</span>
                                <img style="margin-right: 10px" src="{{ asset('frontend/assets/Vector.png') }}" alt="">
                            </a>
                        </div>
                        <div class="col-6" >
                            <a class="btn w-50 rounded-pill d-flex align-items-center justify-content-between border-0" href="{{ path('app_details_produit', {'slug':prod.slug}) }}" role="button" style="height:50px;background-color:#3A36DB;margin-left:25%; width: 150px">
                                <span class="mr-2" style="margin-right: 10px">Ajouter</span>
                                <img src="{{ asset('frontend/assets/Vector.png') }}" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}