<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ asset('frontend/css/style.css') }}">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  </head>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@100&display=swap" rel="stylesheet">
<title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light w-100 fixed-top">
  <div class="container-fluid d-flex flex-row justify-content-evenly h-100">
    <a href="{{ path('app_accueil') }}">
      <img class="logo1 h-50 " src="{{ asset('frontend/assets/logo.png') }}">
    </a>

    <form action="{{ path('app_boutique_search') }}" class="d-flex align-items-center h-100 " method="post" style="width:40%">

    <!--
      <select id="filtre" class="filtre h-100 border-0" style="background-color: transparent;">

        <option value="Femmes">Femmes</option>
        <option value="Hommes">Hommes</option>
        <option value="Enfants">Enfants</option>
        <option value="Celebrites">Célébrités</option>
      </select>
      -->
      <input type="text" name="key" id="" placeholder="Rechercher des articles" class="input-search border-0 h-50 w-75" style="background:buttonface; padding: 20px">
      <button type="submit" class="bouton-global-recherche border-0 h-50 col-2">
        <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
          <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
          </path>
        </svg>
      </button>

    </form>
    <a href="{{ path('app_boutique') }}" class="fw-bolder">Boutique</a>
    <a href="" class="fw-bolder">Forum</a>
    {% if app.user is null %}
      <a href="{{ path('app_login') }}" class="btn btn-primary text-light rounded-pill">Connexion/Inscription</a>
    {% else %}
      <a href="{{ path('app_profile') }}" class="fw-bolder">Profil</a>
      <a href="{{ path('app_logout') }}" class="btn btn-danger text-light rounded-pill">Deconnexion</a>
    {% endif %}

    <a href="{{ path('app_gestion_boutique') }}" class="btn btn-primary text-light rounded-pill">Vendre</a>
    <a href="{{ path('app_panier') }}" class="fw-bolder">
      <img src="{{ asset('frontend/assets/panier.png') }}" width="20" height="20" alt="" srcset="">
      <span>Panier</span>
    </a>
  </div>
</nav>

<div class="card">

  {% block body %} {% endblock %}

  <div class="card-footer text-muted bg-dark border-0 d-flex justify-content-evenly " style="height:400px" >
    <div class="card-text d-flex flex-column">
      <span>Contact</span>
      <span>Sénégal,Dakar</span>
      <span>Numéro du l'admin</span>
      <span>mail de l'admin</span>
    </div>
    <div class="card-text d-flex flex-column">
      <span>Paiement</span>
      <span>text</span>
      <div class="logos">

      </div>
    </div>
    <div class="card-text d-flex flex-column">
      <span>Politique</span>
      <span>Termes et conditions générales</span>
      <span>Politique de retour</span>
      <span>Politique de confidentialité</span>
      <span>Cookies</span>
    </div>
    <div class="card-text d-flex flex-column">
      <span>Réseaux</span>
      <span>logo Instagram</span>
      <span>logo Facebook</span>
      <span>logo twitter</span>
    </div>
  </div>
</div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>